
body{ 
    background-color:hsl(233, 47%, 7%);  
    justify-items: center;
    padding: 110px;
    font-family: 'Inter', sans-serif; 
    font-weight: 400; 
}  



.info{
    
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; 
}


InfoSection{   
    display: flex;
    justify-items: center; 
    background-color: hsl(244, 38%, 16%);      
}  


container{  
   display: flex; 
   flex-direction: row; 
   flex-wrap: wrap;
   border-radius: 15px; 
   width: 100%; 
   justify-content: space-between;
}  
 
.left{
   justify-content: center; 
   justify-items: center; 
   padding-left: 60px; 
   padding-top: 50px; 
} 

.right .overlay{
    position: absolute; 
    background-color: rgba(87, 15, 131, 0.6);
    width: 100%;  
    overflow: hidden;
    
    
}

.left H1 {  
    font-weight: 700; 
    color: hsl(0, 0%, 100%);   
}



InfoSection p{
    font-family: 'Lexend Deca', sans-serif; 
    font-weight: 400; 
    color:hsla(0, 0%, 100%, 0.75); 
    line-height: 1.5em;
} 
  
InfoSection H1 span{
    color: hsl(277, 64%, 61%);
} 

InfoSection ul {
    display:flex;  
    flex-flow: row;
    width: 30vw;  
    list-style: none; 
    justify-content: space-around; 
    letter-spacing: 1px;  
    padding: 30px  0   0   0;
    
} 


InfoSection ul p{
    font-family: "Lexend Deca", sans-serif; 
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase; 
    font-size:12px; 

} 


InfoSection h2{
    color: hsl(0, 0%, 100%);
   
}

#overlay{
    background-color: rgba(87, 15, 131, 0.6);
    color: #ffffff; 
    top: 118px;
    left: 49.2%;
    width: 41.8%;
    height: 64.8%; 
    position:absolute;
}


.attribution {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px; 
    color: hsl(0, 0%, 100%);
} 
