
body{ 
    background-color:hsl(233, 47%, 7%);  
    justify-items: center;
    padding: 110px;
    font-family: 'Inter', sans-serif; 
    font-weight: 400; 
}  



.info{
    
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; 
}


InfoSection{   
    display: flex;
    justify-items: center; 
    background-color: hsl(244, 38%, 16%);      
}  


container{  
   display: flex; 
   flex-direction: row; 
   flex-wrap: wrap;
   border-radius: 15px; 
   width: 100%; 
   justify-content: space-between;
}  
 
.right {  
  
    width: 540px;
    min-width: 200px; 
    height: 100%; 
    min-height: 50%;
    background: url('./images/image-header-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
} 

.left{
   justify-content: center; 
   justify-items: center; 
   padding-left: 60px; 
   padding-top: 50px; 
} 

.right .overlay{
    position: absolute; 
    background-color: rgba(87, 15, 131, 0.6);
    width: 100%;   
    overflow: hidden;   
}

.left H1 {  
    font-weight: 700; 
    color: hsl(0, 0%, 100%);   
}



InfoSection p{
    font-family: 'Lexend Deca', sans-serif; 
    font-weight: 400; 
    color:hsla(0, 0%, 100%, 0.75); 
    line-height: 1.5em;
} 
  
InfoSection H1 span{
    color: hsl(277, 64%, 61%);
} 

InfoSection ul {
    display:flex;  
    flex-flow: row;
    width: 30vw;  
    list-style: none; 
    justify-content: space-around; 
    letter-spacing: 1px;  
    padding: 30px  0   0   0;
    
} 


InfoSection ul p{
    font-family: "Lexend Deca", sans-serif; 
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase; 
    font-size:12px; 

} 


InfoSection h2{
    color: hsl(0, 0%, 100%);
   
}

#overlay{
    background-color: rgba(87, 15, 131, 0.6);
    color: #ffffff; 
    top: 118px;
    width: 42%;
    height: 66.8%; 
    position:absolute;
}


.attribution {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px; 
    color: hsl(0, 0%, 100%);
}  

@media screen and (max-width: 375px){ 

    body {
        flex-direction: column; 
        margin-left:-70px; 
        
    } 

    InfoSection{
        display: flex;
        justify-items: center; 
        justify-content: center;
        background-color: hsl(244, 38%, 16%);  
        padding: 0 0 0 0;  
        width: 300px;
    }  
    
    container{  
        display: flex; 
        flex-direction: column-reverse; 
        flex-wrap: wrap;
        border-radius: 15px; 
        
    }  
     
    .left{
        justify-content: center; 
        justify-items: center; 
        padding-left: 60px; 
        padding-top: 50px; 
    } 
  
    .right {  
  
        height: 220px;
        width: 300px;
        border-radius: 10px 10px 0 0; 
        background: url('./images/image-header-mobile.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
    } 
    
    #overlay{
        background-color: rgba(87, 15, 131, 0.6);
        color: #ffffff; 
        top: 118px;
        width: 80.4%;
        height: 33.3%;  
        position:absolute;  
        border-radius: 10px 10px 0 0;
    } 

    .left H1 {  
        font-weight: 700; 
        color: rgb(255, 255, 255);  
        margin-left: -60px;
        font-size: 6.4vw; 
        text-align: center;
    } 

    InfoSection p{
        font-family: 'Lexend Deca', sans-serif; 
        font-weight: 400; 
        color:hsla(0, 0%, 100%, 0.75); 
        line-height: 2.5em; 
        margin-left: -50px; 
        font-size: 0.8rem;
        text-align: center; 
        padding: 20px 10px 0 10px;
    }  

    InfoSection ul {
        display:flex;  
        flex-flow: column;
        width: 30vw;  
        justify-items: center;
        justify-content: center; 
        letter-spacing: 1px;  
        padding: 10px  0   0   60px; 
        
    } 
    
    InfoSection ul p{
        font-family: "Lexend Deca", sans-serif; 
        color: hsla(0, 0%, 100%, 0.6);
        text-transform: uppercase; 
        font-size:12px;  
        line-height: 0px;
        padding-top: 2px;
    
    } 
    
    
    .attribution {
        position: relative;
        font-size: 0.75rem;
        line-height: 20px;
        text-align: center;  
        color: hsl(0, 0%, 100%);
    }  
    
    

}
